html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("image 20.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

#header {
  width: 100vw;
  height: 17vh;
  margin: 0px;
  padding: 0px;
  background: #161616;
  box-shadow: 0px 4px 5px #000000;
  text-align: center;
}

#logo {
  width: 60vw;
  height: 7vh;
  margin-top: 5vh;
}

#container {
  
  display: flex;
 margin-top: 25%;
  justify-content: center;
}

#container2 {
  
    display: flex;
    margin-top: 20%;
    justify-content: center;
  }

  #container3 {
  
    display: flex;
    margin-top: 20%;
    justify-content: center;
  }
#logbox {
  width: 80vw;
  height: 8vh;
  background: #161616;
  box-shadow: 0px 4px 10px #000000;
  text-align: center;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 3vh;
  

  color: #eef0f2;
}



#signbox {
    width: 80vw;
    height: 8vh;
    background: #161616;
    box-shadow: 0px 4px 10px #000000;
    text-align: center;
    border: none;
    margin-top: 2.5vh;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 3vh;
    
  
    color: #eef0f2;
  }

 

  #logup {
    margin-top: 1vh;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 4vh;
  

  color: #eef0f2;
}
  
  #loginbox {
    width: 30vw;
    height: 7vh;
    background: #161616;
    box-shadow: 0px 4px 10px #000000;
    text-align: center;
    border: none;
  }

  #loginbox:hover{
    background: #0f0f0f ;
}

#dont{
  font-family: Roboto;
  font-size: 2vh;
  color: #eef0f2;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  margin-top: 6vh;
}