html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/image\ 20.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

#header {
  width: 100vw;
  height: 17vh;
  margin: 0px;
  padding: 0px;
  background: #161616;
  box-shadow: 0px 4px 5px #000000;
  text-align: center;
}

#logo {
  width: 60vw;
  height: 7vh;
  margin-top: 5vh;
}

#container {
  display: flex;
  margin-top: 25%;
  justify-content: center;
}

#container2 {
  display: flex;
  margin-top: 20%;
  justify-content: center;
}

#container3 {
  display: flex;
  margin-top: 10%;
  justify-content: center;
}
#logbox {
  width: 70vw;
  height: 12vh;
  background: #161616;
  box-shadow: 0px 4px 10px #000000;
  text-align: center;
  border: none;
}

.registerbox {
  width: 80vw;
  height: 8vh;
  background: #161616;
  box-shadow: 0px 4px 10px #000000;
  text-align: center;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 3vh;

  color: #eef0f2;
}

#logbox:hover {
  background: #0f0f0f;
}

#login {
  margin-top: 2.5vh;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 5vh;

  color: #eef0f2;
}

#signbox {
  width: 70vw;
  height: 12vh;
  background: #161616;
  box-shadow: 0px 4px 10px #000000;
  text-align: center;
  border: none;
}

#signbox:hover {
  background: #0f0f0f;
}

#signup {
  margin-top: 2.5vh;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 5vh;

  color: #eef0f2;
}

#signupbox {
  width: 30vw;
  height: 7vh;
  background: #161616;
  box-shadow: 0px 4px 10px #000000;
  text-align: center;
  border: none;
}

#signupbutton {
  margin-top: 1vh;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 4vh;

  color: #eef0f2;
}

#container4 {
  display: flex;
  margin-top: 10%;
  justify-content: center;
}

.layer1 {
  z-index: 0;
  position: absolute;
}
.layer2 {
  z-index: 1;
  position: absolute;
}
.layer3 {
  z-index: 2;
  position: absolute;
}

.relative {
  position: relative;
}

#loginButton {
  margin-top: 1vh;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 4vh;

  color: #eef0f2;
}

#loginbox1 {
  width: 30vw;
  height: 7vh;
  background: #161616;
  box-shadow: 0px 4px 10px #000000;
  text-align: center;
  border: none;
}

#loginbox1:hover {
  background: #0f0f0f;
}

#loginbox {
  width: 80vw;
  height: 8vh;
  background: #161616;
  box-shadow: 0px 4px 10px #000000;
  text-align: center;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 3vh;

  color: #eef0f2;
}

#loginbox2 {
  width: 80vw;
  height: 8vh;
  background: #161616;
  box-shadow: 0px 4px 10px #000000;
  text-align: center;
  border: none;
  margin-top: 2.5vh;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 3vh;

  color: #eef0f2;
}

#loginButton {
  margin-top: 1vh;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 4vh;

  color: #eef0f2;
}
