html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: #090708;
}

#header {
  margin-top: 15vh;
  width: 100vw;
  height: 100vh;
  
}



#header {
  width: 100%;
  height: 17vh;
  margin: 0px;
  padding: 0px;
  background: #161616;
  box-shadow: 0px 4px 5px #000000;
  text-align: center;
}
#headerHome {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
  margin: 0px;
  padding: 0px;
  background:  #424242;
  box-shadow: 0px 4px 5px #000000;
 
}
#logo {
  width: 70vw;
  height: 8vh;
  margin-top: 7vh;
  margin-left: 10px;
  max-width: 400px;
  min-width: 200px;
  margin: auto;
}
#logoHome {
  width: 50vw;
  height: 7vh;
  margin: auto;
  position: absolute;
  
}
#container {
  display: flex;
  margin-top: 25%;
  justify-content: center;
}

.container4 {
  margin-top: 30px;
}
#container2 {
  display: flex;

  margin-top: 20%;
  justify-content: center;
}

#container3 {
  display: flex;
  margin-top: 2.5vh;
  justify-content: center;
}
#logbox {
  width: 70vw;
  height: 12vh;
  background: #161616;
  box-shadow: 0px 4px 10px #000000;
  text-align: center;
  border: none;
}

.registerbox {
  width: 80vw;
  height: 8vh;
  background: #353535;
  box-shadow: 0px 4px 10px #000000;
  text-align: center;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 3vh;

  color: #eef0f2;
}

#logbox:hover {
  background: #0f0f0f;
}

#login {
  margin-top: 2.5vh;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 5vh;

  color: #eef0f2;
}

#signbox {
  width: 70vw;
  height: 12vh;
  background: #161616;
  box-shadow: 0px 4px 10px #000000;
  text-align: center;
  border: none;
}

#signbox:hover {
  background: #0f0f0f;
}

#signup {
  margin-top: 2.5vh;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 5vh;

  color: #eef0f2;
}

#signupbox {
  min-width: 100px;
  height: 7vh;
  background: #314f9c;
  box-shadow: 0px 4px 10px #000000;
  text-align: center;
  border: none;
  margin-top: 5vh;
}

#signupbutton {
  margin-top: 1vh;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 4vh;

  color: #eef0f2;
}

.layer1 {
  z-index: 0;
}
.layer2 {
  z-index: 1;
}
.layer3 {
  z-index: 2;
}

#loginButton {
  margin-top: 1vh;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 4vh;

  color: #eef0f2;
}

#loginbox1 {
  width: 30vw;
  height: 7vh;
  background: #161616;
  box-shadow: 0px 4px 10px #000000;
  text-align: center;
  border: none;
}

#loginbox1:hover {
  background: #0f0f0f;
}

.loginbox {
  width: 80vw;
  height: 8vh;
  background: #353535;

  text-align: center;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 3vh;
  margin-top: 2.5vh;
  color: #eef0f2;
}
#loginbox7 {
  height: 7vh;
  min-width: 200px;

  background: #314f9c;

  text-align: center;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 3vh;
  margin-top: 2.5vh;
  color: #eef0f2;
}

#settingsheader {
  text-align: center;
  width: 100%;
  height: 7vh;
  position: fixed;
  top: 0;
  margin: 0px;
  padding: 0px;
  background: #424242;
}

#settingsnav {
  overflow: hidden;
  height: 100%;
  margin-top: 6.5vh;
  display: flex;
  flex-direction: column;
  background-color: #161616;
  position: fixed;
  text-align: left;
  top: 0;
  width: 100%;
}



.setting {
  float: left;
  display: block;
  color: #f2f2f2;
  background-color: #333;
  text-align: center;
  height: 15vh;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 3vh;
  font-family: Roboto;
  padding-top: 4vh;
  margin-top: 3vh;

}

#editprofilecontainer{
  margin-top: 30vh;
  text-align: center;
}

.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  text-align: center;
  margin-left: 5vw;
  margin-right: 5vw;
}

#settingsarrow {
  margin-right: 0vw;
  position: absolute;
  width: 6vw;
  height: 3vh;
  left: 5%;
  top: 20%;
}

#editprofileset{
  background-color: #333;
  border-style: solid;
  color: white;
  border-color: black;
  height: 5vh;
}

.outputText{
  color: white;
}

.update{
  margin-top: 15vh;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 4vh;
  height: 8vh;
  width: 40vw;
  color: white;
  background-color: #333;
  border: none;

}

#settingslogo {
  margin-top: 1vh;
  height: 4vh;
  width: 35vw;
  
}

#loginbox2 {
  width: 80vw;
  height: 8vh;
  background: #353535;

  text-align: center;
  border: none;
  margin-top: 2.5vh;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 3vh;

  color: #eef0f2;
}

#loginButton {
  margin-top: 1vh;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 4vh;

  color: #eef0f2;
}

.login,
.signup {
  width: 100%;
  position: absolute;
  top: 30vh;
  text-align: center;
}

.container6 {
  margin-top: 50px;
}

#q {
  display: flex;
  justify-content: center;
}

.switch {
  position: absolute;
  bottom: 10vh;
  text-align: center;

  color: #eef0f2;
  font-size: 2.5vh;
  z-index: +1;
}

.error {
  color: #c2c2c2;
}

#profinfo{
  background-color: #161616;
  width: 100%;
  height: 50vh;
 text-align: center;
}

#profpic{
  margin-top: 10vh;
  width: 15vh;
}

#username{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 5vh;
}

#bio{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  margin-left: 8vw;
  margin-right: 8vw;
  font-size:2vh;
}

#gal{
  text-align: center;
  width: 100%;
}

.galimg{
  width: 32.5vw;
  margin: 0;

}

#space{
  height: 8vh;
}
.camera-icon {
 padding-left: 75vw;
 height: 12vh;
 
 
}
.feed {
  height: 80vh;
  max-height: 80vh;
  background-color: #0f0f0f;
  overflow: auto;
  white-space: nowrap;
  overflow-y: hidden;

}
.navbar {
  display: flex;
  height: 10vh;
   
  background-color: #424242;
}
.navIcons {
  height: 50px;
  margin: auto;
  
}
.iconsDiv {
  display: flex;
  width: 25%;
  
}


.info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
  
  
.pp {
  
  margin-left: 7vw;
  margin-right: 5vw;
  height: 9vh;
  width: 9vw;
  border-radius: 50%;
}
.pName {
  
  margin: 0px;
  text-align: center;
  font-size: 5vh;
  font-family: Roboto;
  color: #c2c2c2;
}
.postImg {
  height: 70vh;
  width: 100vw;
  max-height: 70vh;
  max-width: 100%;
}
.post {
  display: inline-block;
  overflow-y: hidden;
}
