.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  #navbar {
    overflow: hidden;
    background-color: #424242;
    position: fixed;
    bottom: 0;
    height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  #navbar a {
    
    width: 50%;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a.active {
    background-color: #363636;
    color: white;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }